body {
    background-color: rgb(2, 102, 2);
    background-image: url('./images/texture.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    color: antiquewhite;
}

.cards {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#cardOne {
    float: left;
}
#cardTwo {
    float: right;
}
#cardThree {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.buttons {
    margin-left:500px;
    margin-right: auto;
    margin-top: 10px;
    width: 60%;
}

.reading {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    width:60%;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    font-size: large;
    opacity: 0.6;
}

.btn {
    margin-right: 200px;
}